.black{
    background-color: rgba(17, 17, 17, 0.685);
    color: aliceblue;
    width: 200px;
    border: 5px solid black;
}
.black:hover{
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
.Intro_to_bootstrap{
    border: 1px dashed black;
    margin-left: 10px;
    padding-left: 15px; 
    margin-right: 30%;
}
.btnstyle{
    background-color: dimgrey;
    color: aliceblue;
    margin: 10px;
    padding: 5px;
}
.btnstyle:hover{
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(192, 147, 233);
    color: black;
}
.formStyles{
    background-color: darkolivegreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .formStyles{
        background-color: yellow;
        flex-direction: column;
    }
    
}

@media screen and (min-width: 200px) and (max-width: 399px) {
    .formStyles{
        background-color: red;
        flex-direction: column;
    }
    
}